.custom-col {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:30%;
  padding-bottom: 30%;
  margin: 1.66%;
}
.custom-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.modal-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  bottom: -35px;
  right: 10px;
}

.custom-modal-dialog {
  width: fit-content;
  max-width: 65%;
}

.dropdown-toggle::after{
  display: none !important;
}