body {
  background-color: #ecf0f1;
  font-family: 'Tai Heritage Pro', serif;
  font-size: 1.5rem;
}
.header {
  position: absolute;
  left: 20%;
}
.custom-col {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:30%;
  padding-bottom: 30%;
  margin: 1.66%;
}
.on-screen-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.modal-btn {
  position: absolute;
  height: 35px;
  width: 35px;
  bottom: -35px;
  right: 10px;
}

.custom-modal-dialog {
  width: fit-content;
  max-width: 65%;
}

.dropdown-toggle::after{
  display: none !important;
}
.add-image-tooltip {
  position: fixed;
  bottom: 45px;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .header {
    left: 10px;
  }
  .on-screen-button {
    bottom: 15px;
    right: 15px;
    font-size: 1rem;
  }
  .add-image-tooltip {
    bottom: 20px;
    right: 75px;
  }
}