.custom-col {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:30%;
  padding-bottom: 30%;
  margin: 1.66%;
}
.custom-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2rem;
  font-weight: bold;
}